<p-menubar [model]="NavegarMenu"></p-menubar>


<!-- {{subjects | json }} -->
<!--  {{formAsignature.value | json}} -->
<!-- {{careers | json}} -->


<div *ngIf="menus.informacion">
    <div class="p-fluid">
        <form [formGroup]="formAsignature" (ngSubmit)="onSubmit()" >
            
            <!-- <div formGroupName="short_name"> -->
            <p-card header="Información General de la Asignatura">
                <div class="p-formgrid p-grid">

                    <!-- combobox Carreras -->
                    <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                        <label for="selectedCareer">
                            <i class="p-error">*</i>Carrera:

                            <i *ngIf="nameField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="nameField.invalid && (nameField.touched || nameField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <p-dropdown [options]="careers" id="selectedCareer" formControlName="name" [(ngModel)]="model.name"  optionLabel="name" #myname
                            [filter]="true" placeholder="Seleccione una Carrera">
                            <!-- ngModel required -->
                            <option *ngFor="let career of careers" value={{career.id}}>
                                {{career.name}}
                            </option>
                            <div *ngIf="nameField.errors && (nameField.touched || nameField.dirty)">
                                <small *ngIf="nameField.errors?.required" id="user-help-1" class="p-error">
                                    {{nameField.fieldRequired}}
                                </small>
                            </div>
                        </p-dropdown>
                    </div>

                    <!-- combobox periodo academico -->
                    <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                        <label for="selectedAcademic">
                            <i class="p-error">*</i>Periodo Académico:

                            <i *ngIf="academicField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="academicField.invalid && (academicField.touched || academicField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <p-dropdown [options]="academics" id="selectedAcademic" formControlName="code" [(ngModel)]="model.code"
                            optionLabel="code" [filter]="true" placeholder="Seleccione un Periodo Académico">
                            <!-- ngModel required -->
                            <option *ngFor=" let academic of academics " value={{academic.id}}>
                                {{academic.code}}
                            </option>
                            <div *ngIf="academicField.errors && (academicField.touched || academicField.dirty)">
                                <small *ngIf="academicField.errors?.required" id="user-help-1" class="p-error">
                                    {{academicField.fieldRequired}}
                                </small>
                            </div>
                        </p-dropdown>
                    </div>
                </div>

                <!-- combobox periodo lectivo -->
                <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                    <label for="selectedPeriod">
                        <i class="p-error">*</i>Periodo Lectivo:
                        <i *ngIf="schoolPeriodField.valid" class="pi pi-check-circle icon-valid"></i>
                        <i *ngIf="schoolPeriodField.invalid && (schoolPeriodField.touched || schoolPeriodField.dirty)"
                            class="pi pi-times-circle icon-invalid"></i>
                    </label>
                    <p-dropdown [options]="periods" id="selectedPeriod" formControlName="school_period" [(ngModel)]="model.school_period"
                        optionLabel="code" [filter]="true" placeholder="Seleccione un Periodo Lectivo">
                        <!-- ngModel required -->
                        <option *ngFor=" let period of periods " value={{period.id}}>
                            {{period.code}}
                        </option>
                        <div *ngIf="schoolPeriodField.errors && (schoolPeriodField.touched || schoolPeriodField.dirty)">
                            <small *ngIf="schoolPeriodField.errors?.required" id="user-help-1" class="p-error">
                                {{schoolPeriodField.fieldRequired}}
                            </small>
                        </div>
                    </p-dropdown>
                </div>


                <!-- combobox Modalidad VER CATALOGUESSSSSSSSSSSSSSSSSSSSSSSSS-->

                <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                    <label for="selectedModality">
                        <i class="p-error">*</i>Modalidad:
                        <i *ngIf="modalityField.valid" class="pi pi-check-circle icon-valid"></i>
                        <i *ngIf="modalityField.invalid && (modalityField.touched || modalityField.dirty)"
                            class="pi pi-times-circle icon-invalid"></i>
                    </label>
                    <p-dropdown [options]="modalities" id="selectedModality" formControlName="modality" [(ngModel)]="model.modality"
                        optionLabel="code" [filter]="true" placeholder="Seleccione una Modalidad">
                        <!-- ngModel required -->
                        <option *ngFor=" let modality of modalities " value={{modality.id}}>
                            {{modality.code}}
                        </option>
                        <div *ngIf="modalityField.errors && (modalityField.touched || modalityField.dirty)">
                            <small *ngIf="modalityField.errors?.required" id="user-help-1" class="p-error">
                                {{modalityField.fieldRequired}}
                            </small>
                        </div>
                    </p-dropdown>
                </div>



                <!-- combobox Asignatura -->
                <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                    <label for="selectedSubject">
                        <i class="p-error">*</i>Asignatura:
                        <i *ngIf="selectedSubjectField.valid" class="pi pi-check-circle icon-valid"></i>
                        <i *ngIf="selectedSubjectField.invalid && (selectedSubjectField.touched || selectedSubjectField.dirty)"
                            class="pi pi-times-circle icon-invalid"></i>
                    </label>
                    <p-dropdown [options]="subjects" id="selectedSubject" formControlName="selectedSubject" [(ngModel)]="model.selectedSubject"
                        optionLabel="description" [filter]="true" placeholder="Seleccione una Asignatura">
                        <!-- ngModel required -->
                        <option *ngFor="let subject of subjects" value={{subject.id}}>
                            {{subject.description}}
                        </option>
                        <div
                            *ngIf="selectedSubjectField.errors && (selectedSubjectField.touched || selectedSubjectField.dirty)">
                            <small *ngIf="selectedSubjectField.errors?.required" id="user-help-1" class="p-error">
                                {{selectedSubjectField.fieldRequired}}
                            </small>
                        </div>
                    </p-dropdown>
                </div>


                <!-- combobox Codigo Asignatura -->
                <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                    <label for="selectedCode">
                        <i class="p-error">*</i>Código Asignatura:
                        <i *ngIf="code_subjectField.valid" class="pi pi-check-circle icon-valid"></i>
                        <i *ngIf="code_subjectField.invalid && (code_subjectField.touched || code_subjectField.dirty)"
                            class="pi pi-times-circle icon-invalid"></i>
                    </label>
                    <p-dropdown [options]="subjects" id="selectedCode" formControlName="code_subject" [(ngModel)]="model.code_subject"
                        optionLabel="objective" [filter]="true" placeholder="Seleccione código Asignatura">
                        <!-- ngModel required -->
                        <option *ngFor="let subject of subjects" value={{code.id}}>
                            {{subject.objective}}
                        </option>
                        <div *ngIf="code_subjectField.errors && (code_subjectField.touched || code_subjectField.dirty)">
                            <small *ngIf="code_subjectField.errors?.required" id="user-help-1" class="p-error">
                                {{code_subjectField.fieldRequired}}
                            </small>
                        </div>
                    </p-dropdown>
                </div>



            </p-card>
            <!--  </div> -->
        </form>
    </div>
</div>



<div *ngIf="menus.informacion">
    <div class="p-fluid">
        <form [formGroup]="formAsignature" (ngSubmit)="onSubmit()">
            <!-- <div formGroupName="user"> -->
            <p-card header="Distribución de horas  en las actividades de aprendizaje">
                <div class="p-formgrid p-grid">


                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                        <label for="teaching_hours">
                            <i class="p-error">*</i>Docencia:
                            <i *ngIf="teachingHoursField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="teachingHoursField.invalid && (teachingHoursField.touched || teachingHoursField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <input id="teaching_hours" formControlName="teaching_hours" pInputText [(ngModel)]="model.teaching_hours">
                        <div
                            *ngIf="teachingHoursField.errors && (teachingHoursField.touched || teachingHoursField.dirty)">
                            <small *ngIf="teachingHoursField.errors?.required" id="user-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small>
                        </div>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                        <label for="autonomous_hours">
                            <i class="p-error">*</i>Trabajo Autónomo:
                            <i *ngIf="autonomousHoursField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="autonomousHoursField.invalid && (autonomousHoursField.touched || autonomousHoursField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <input id="autonomous_hours" formControlName="autonomous_hours" pInputText [(ngModel)]="model.autonomous_hours">
                        <div
                            *ngIf="autonomousHoursField.errors && (autonomousHoursField.touched || autonomousHoursField.dirty)">
                            <small *ngIf="autonomousHoursField.errors?.required" id="user-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small>
                        </div>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                        <label for="practical_hours">
                            <i class="p-error">*</i>Prácticas Aprendizaje:
                            <i *ngIf="practicalHoursField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="practicalHoursField.invalid && (practicalHoursField.touched || practicalHoursField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <input id="practical_hours" formControlName="practical_hours" pInputText [(ngModel)]="model.practical_hours">
                        <div
                            *ngIf="practicalHoursField.errors && (practicalHoursField.touched || practicalHoursField.dirty)">
                            <small *ngIf="practicalHoursField.errors?.required" id="user-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small>
                        </div>
                    </div>

                    <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                        <label for="total_hours">
                            <i class="p-error">*</i>Total de horas asignatura:
                            <i *ngIf="totalHoursField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="totalHoursField.invalid && (totalHoursField.touched || totalHoursField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <input id="total_hours" formControlName="total_hours" pInputText [(ngModel)]="model.total_hours">
                        <div *ngIf="totalHoursField.errors && (totalHoursField.touched || totalHoursField.dirty)">
                            <small *ngIf="totalHoursField.errors?.required" id="user-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small>
                        </div>
                    </div>


                    <!-- combobox Usuario -->
                    <div class="p-field p-xl-6 p-lg-6 p-md-6 p-sm-12">
                        <label for="selectedUser">
                            <i class="p-error">*</i>Docente Responsable:
                            <i *ngIf="userField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="userField.invalid && (userField.touched || userField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>
                        <p-dropdown [options]="users" id="selectedUser" formControlName="user" optionLabel="first_name" [(ngModel)]="model.user"
                            [filter]="true" placeholder="Seleccione Docente responsable">
                            <!-- ngModel required -->
                            <option *ngFor="let user of users" value={{user.id}}>
                                {{user.first_name}}
                            </option>
                            <div *ngIf="userField.errors && (userField.touched || userField.dirty)">
                                <small *ngIf="userField.errors?.required" id="user-help-1" class="p-error">
                                    {{userField.fieldRequired}}
                                </small>
                            </div>
                        </p-dropdown>
                    </div>

                </div>
            </p-card>
            <!-- </div> -->
        </form>
    </div>
</div>

<div *ngIf="menus.informacion">
    <div class="p-fluid">
        <form [formGroup]="formAsignature" (ngSubmit)="onSubmit()">
            <!-- <div formGroupName="user"> -->
            <p-card header="Descripción de la Asignatura - Objetivo General">
                <div class="p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-6">
                        <label for="description">
                            <i class="p-error">*</i>....................................................
                            <i *ngIf="descriptionField.valid" class="pi pi-check-circle icon-valid"></i>
                            <!-- <i *ngIf="descriptionField.invalid && (descriptionField.touched || descriptionField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i> -->
                        </label>

                        <span class="p-float-label">
                            <textarea id="description" formControlName="description" rows="5" cols="120" autoResize=true [(ngModel)]="model.description"
                                pInputTextarea></textarea>
                            <label>Descripción de la Asignatura</label>
                            <!-- <small *ngIf="descriptionField.errors?.required" id="user-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small> -->
                            
                        </span>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="objective">
                            <i class="p-error">*</i>...............................
                            <i *ngIf="objectiveField.valid" class="pi pi-check-circle icon-valid"></i>
                            <i *ngIf="objectiveField.invalid && (objectiveField.touched || objectiveField.dirty)"
                                class="pi pi-times-circle icon-invalid"></i>
                        </label>

                        <span class="p-float-label">
                            <textarea id="objective" formControlName="objective" rows="5" cols="120" autoResize=true [(ngModel)]="model.objective"
                                pInputTextarea></textarea>
                            <label>Objetivo General</label>
                            <!-- <small *ngIf="objectiveField.errors?.required" id="user-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small> -->
                            
                        </span>
                    </div>

                <div><button  pButton type="onsubmit" (onClick) = 'onSubmit()' label="GENERAR PDF" class="p-button-raised p-button-rounded"></button>
                    <br> <br>
                <button pButton  type="button" (click)="onReset()" class="p-button-raised p-button-rounded" label="RESET"> </button>
                </div>
                <div>  
                <button pButton type="button" label="Submit" class="p-button-raised p-button-rounded"></button>
                <br> 
                <br> 
            </div>
               
                    
                <div>
                
                   
            </div>

                </div>
            </p-card>
            <!-- </div> -->
        </form>
    </div>
</div>

<div *ngIf="menus.informacion"></div>

<br>
<button *ngIf="menus.informacion" (click)="setMenu(2)" pButton>GUARDAR-NEXT</button>





<app-component-learning-result *ngIf="menus.resultado" [envio]="variables.resultado"></app-component-learning-result>
<button *ngIf="menus.resultado" (click)="setMenu(3)" pButton>GUARDAR-NEXT</button>


<app-component-content-subject *ngIf="menus.contenido" [envio]="variables.contenido"> </app-component-content-subject>
<button *ngIf="menus.contenido" (click)="setMenu(4)" pButton>GUARDAR-NEXT</button>

<app-component-strategy-methodological *ngIf="menus.estrategia" [envio]="variables.estrategia">
</app-component-strategy-methodological>
<button *ngIf="menus.estrategia" (click)="setMenu(5)" pButton>GUARDAR-NEXT</button>

<app-component-profile-career-learning *ngIf="menus.relacionAsignatura" [envio]="variables.relacionAsignatura">
</app-component-profile-career-learning>
<button *ngIf="menus.relacionAsignatura" (click)="setMenu(6)" pButton>GUARDAR-NEXT</button>

<app-component-bibliography *ngIf="menus.bibliografia" [envio]="variables.bibliografia"></app-component-bibliography>
<button *ngIf="menus.bibliografia" (click)="setMenu(7)" pButton>GUARDAR</button>

<app-component-portfolio-form *ngIf="menus.formulario" [envio]="variables.formulario"></app-component-portfolio-form>
<button *ngIf="menus.formulario" pButton>GENERAR PDF</button>

