
<div class="card">
    <h5>CREAR SÍLABO</h5>
    
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Información General de la Asignatura" >
            <app-subject-information> </app-subject-information>
        </p-tabPanel>
        <p-tabPanel header="Resultados de Aprendizaje de la Asignatura" >
            <app-component-learning-result></app-component-learning-result>

        </p-tabPanel>
        <p-tabPanel header="Contenidos de la Asignatura" >
            <app-component-content-subject> </app-component-content-subject>

        </p-tabPanel>
        <p-tabPanel header="Estrategias Metodológicas" >
            <app-component-strategy-methodological> </app-component-strategy-methodological>


        </p-tabPanel>
        <p-tabPanel header="Perfil de Egreso de la Carrera" >
            <app-component-profile-career-learning> </app-component-profile-career-learning>

        </p-tabPanel>
        <p-tabPanel header="Bibliografía" >

            <app-component-bibliography> </app-component-bibliography>

        </p-tabPanel>
        <p-tabPanel header="Descargar PEA" >

            <app-component-portfolio-form> </app-component-portfolio-form>

        </p-tabPanel>


    </p-tabView>